<div class="container">
  <div class="row mgh_blog_container">
    <div class="col-sm-9 mgh_blog_rightside">
        <app-blogdetails></app-blogdetails>
     <div class="mgh_blog_makereview">
        <app-blogsubmitreview></app-blogsubmitreview>
     </div>
      <div class="mgh_blog_reviews">
        <app-blogreviews></app-blogreviews>
      </div>
    </div>
    <div class="col-sm-3 mgh_blog_leftside">
      <div class="mgh_blog_leftside_container">
        <div class="mgh_blog_relatedblog">
          <app-relatedblog></app-relatedblog>
        </div>
       <div class="mgh_blog_blogexperts">
          <app-blogexperts></app-blogexperts>
        </div>
     <div class="mgh_blog_blogstatics">
          <app-blogstatics></app-blogstatics>
        </div>

      </div>
    </div>


    </div>

</div>
