<div class="mgh_welcome">
  <div class="mgh_welcome_content">
    <div class="mgh_welcome_content_firstbox">
      <span class="mgh_welcomo_title">
        به شبکه اجتماعی اکسپرتا خوش آمدید!
      </span>
      <span class="mgh_welcomo_text">
        اکسپرتا با هدف هم افزایی از طریق پرسش و پاسخ به سوالات مرتبط با حوزه های مختلف سعی دارد تا افراد مختلف بتوانند بیشتر با متخصصان هر جامعه در ارتباط باشند و بتوانند با پرسش سوال و کاهش خطا جامعه ای موفق. تر را بسازد‍.
      </span>
      <div class="mgh_welcome_button">
        <button type="button" class="mgh_welcome_button_display" (click)="goToAuth()">
          شروع کنید
        </button>
      </div>

    </div>

    <div class="mgh_welcome_content_secendtbox">

      <div class="mgh_welcome_socialicons">
        <span class="mgh_welcome_socialicon">
          <img  class="mgh_welcome_socialicon_img"  src="./assets/Icons/Svgs/Social networks/Twitter.svg">
        </span>
        <span class="mgh_welcome_socialicon">
          <img  class="mgh_welcome_socialicon_img"  src="./assets/Icons/Svgs/Social networks/Linkdin.svg">
        </span>
        <span class="mgh_welcome_socialicon">
          <img  class="mgh_welcome_socialicon_img"  src="./assets/Icons/Svgs/Social networks/Telgram.svg">
        </span>
        <span class="mgh_welcome_socialicon">
          <img  class="mgh_welcome_socialicon_img"  src="./assets/Icons/Svgs/Social networks/Instagram.svg">
        </span>
      </div>

      <div class="mgh_welcome_links">
        <div class="row no-gutters">
          <div class="col-sm-12" style="text-align: center;">

            <a class="mgh_welcome_link" href="javascript;">
          <span class="mgh_welcome_link_text">
            درباره ما
          </span>
            </a>
            <a class="mgh_welcome_link" href="javascript;">
          <span class="mgh_welcome_link_text">
            تماس با ما
          </span>
            </a>
            <a class="mgh_welcome_link" href="javascript;">
          <span class="mgh_welcome_link_text">
            قوانین و مقررات
          </span>
            </a>
            <a class="mgh_welcome_link" href="javascript;">
          <span class="mgh_welcome_link_text">
            گزارش تخلف
          </span>
            </a>

          </div>

        </div>

        <div class="row">
          <div class="col-sm-12 mgh_copyright">
               <span class="mgh_copyright_text">
            تمامی حقوق برای شرکت اکسپرتا محفوظ می باشد.
          </span>
          </div>
        </div>

      </div>




    </div>

  </div>
</div>
