<div class="mgh_welcome">
  <div class="mgh_welcome_content">
    <div class="mgh_welcome_content_firstbox">
      <div class="mgh_welcome_personaldetails">
        <div class="row no-gutters align-content-center">
          <div class="col-sm-5 mgh_welcome_personaldetail_img">

            <img src="./assets/fake_images/specialists1.jpg" class="mgh_welcome_personaldetail_image">

          </div>
          <div class="col-sm-7">
            <div class="mgh_welcome_personaldetail">
              <div class="mgh_welcome_personaldetail_name">
                صادق عیدی
              </div>
              <div class="mgh_welcome_personaldetail_expertise">
                طراح محصول
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mgh_welcome_statistics">
        <div class="mgh_welcome_statistics_title">
          آمار شما در وبسایت
        </div>
        <div class="mgh_welcome_statistics_details">
          <div class="mgh_welcome_statistics_row">
            <span class="mgh_welcome_statistics_row_name">امتیاز</span>
            <span class="mgh_welcome_statistics_row_value">34</span>
          </div>
          <div class="mgh_welcome_statistics_row">
            <span class="mgh_welcome_statistics_row_name">پاسخ ها</span>
            <span class="mgh_welcome_statistics_row_value">4</span>
          </div>
          <div class="mgh_welcome_statistics_row">
            <span class="mgh_welcome_statistics_row_name">سوالات</span>
            <span class="mgh_welcome_statistics_row_value">13</span>
          </div>
          <div class="mgh_welcome_statistics_row">
            <span class="mgh_welcome_statistics_row_name">دنبال کننده</span>
            <span class="mgh_welcome_statistics_row_value">4</span>
          </div>
          <div class="mgh_welcome_statistics_row">
            <span class="mgh_welcome_statistics_row_name">سوالات</span>
            <span class="mgh_welcome_statistics_row_value">۸۱</span>
          </div>
        </div>

      </div>

    </div>

    <div class="mgh_welcome_content_secendtbox">

      <div class="mgh_welcome_socialicons">
        <span class="mgh_welcome_socialicon">
          <img  class="mgh_welcome_socialicon_img"  src="./assets/Icons/Svgs/Social networks/Twitter.svg">
        </span>
        <span class="mgh_welcome_socialicon">
          <img  class="mgh_welcome_socialicon_img"  src="./assets/Icons/Svgs/Social networks/Linkdin.svg">
        </span>
        <span class="mgh_welcome_socialicon">
          <img  class="mgh_welcome_socialicon_img"  src="./assets/Icons/Svgs/Social networks/Telgram.svg">
        </span>
        <span class="mgh_welcome_socialicon">
          <img  class="mgh_welcome_socialicon_img"  src="./assets/Icons/Svgs/Social networks/Instagram.svg">
        </span>
      </div>

      <div class="mgh_welcome_links">
        <div class="row no-gutters">
          <div class="col-sm-12" style="text-align: center;">

            <a class="mgh_welcome_link" href="javascript;">
          <span class="mgh_welcome_link_text">
            درباره ما
          </span>
            </a>
            <a class="mgh_welcome_link" href="javascript;">
          <span class="mgh_welcome_link_text">
            تماس با ما
          </span>
            </a>
            <a class="mgh_welcome_link" href="javascript;">
          <span class="mgh_welcome_link_text">
            قوانین و مقررات
          </span>
            </a>
            <a class="mgh_welcome_link" href="javascript;">
          <span class="mgh_welcome_link_text">
            گزارش تخلف
          </span>
            </a>

          </div>

        </div>

        <div class="row">
          <div class="col-sm-12 mgh_copyright">
               <span class="mgh_copyright_text">
            تمامی حقوق برای شرکت اکسپرتا محفوظ می باشد.
          </span>
          </div>
        </div>

      </div>




    </div>

  </div>
</div>
