<div class="mgh_profilesetting">
  <div class="profilesetting_title">
    ویرایش پروفایل
  </div>
<div class="profilesetting_contents">

<div class="profilesetting_basicdetails">
  <div class="profilesetting_nameex">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="profilesetting_name">
          <label for="name" class="profilesetting_label">نام</label>
          <input id="name" placeholder="صادق" type="text" class="profilesetting_nameex_input">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="profilesetting_experts">
          <label class="profilesetting_label"> نام خانوادگی</label>
          <input id="family" placeholder="عیدی" type="text" class="profilesetting_nameex_input">
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="profilesetting_basicdetails">
  <div class="profilesetting_nameex">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <div class="profilesetting_name">
          <label for="name" class="profilesetting_label">نام کاربری</label>
          <input id="username" placeholder="صادق عیدی" type="text" class="profilesetting_nameex_input">
        </div>
        <div class="profilesetting_experts">
          <label class="profilesetting_label">ایمیل</label>
          <input id="email" placeholder="صادق عیدی" type="text" class="profilesetting_nameex_input">
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="profilesetting_editpic">
          <img src="./assets/fake_images/specialists1.jpg" alt="" class="profilesetting_img">
          <div class="editpic_btns">
            <button class="editpic_btn_edit">ویرایش</button>
            <button class="editpic_btn_remove">حذف</button>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

  <div class="profilesetting_bio">
    <label class="profilesetting_label">بیوگرافی</label>
    <textarea id="bio" placeholder="صادق عیدی" type="text" class="profilesetting_bio_input"></textarea>
  </div>

  <div class="profilesetting_social">
    <div class="profilesetting_social_title">
      شبکه های اجتماعی
    </div>
    <div class="profilesetting_social_contents">
      <div class="profilesetting_social_contents">
        <label class="profilesetting_label">توییتر</label>
        <input id="twitter" placeholder="توییتر" type="text" class="profilesetting_nameex_input">
      </div>
      <div class="profilesetting_social_contents">
        <label class="profilesetting_label">اینستاگرام</label>
        <input id="instagram" placeholder="اینستاگرام" type="text" class="profilesetting_nameex_input">
      </div>
      <div class="profilesetting_social_contents">
        <label class="profilesetting_label">لینکدین</label>
        <input id="linkdin" placeholder="لینکدین" type="text" class="profilesetting_nameex_input">
      </div>
    </div>
  </div>

  <div class="profilesetting_savebtn">
    <button class="profilesetting_savebutton" type="submit">ذخیره</button>
  </div>

</div>



</div>
