<nav class="mgh_proinfo_activity_nav">
<ul class="mgh_proinfo_activity_ul">
      <a class="mgh_proinfo_activity_a active" routerLinkActive="active" [routerLinkActiveOptions]="true">
        <li class="mgh_proinfo_activity_li">فعالیت های اخیر</li>
      </a>
      <a class="mgh_proinfo_activity_a" routerLinkActive="active">
        <li class="mgh_proinfo_activity_li">پرسش ها</li>
      </a>
      <a class="mgh_proinfo_activity_a"routerLinkActive="active">
        <li class="mgh_proinfo_activity_li">پاسخ ها</li>
      </a>
</ul>
  <ul class="mgh_proinfo_activity_ul mgh_secend">
      <a class="mgh_proinfo_activity_a" routerLinkActive="active" [routerLinkActiveOptions]="true">
        <li class="mgh_proinfo_activity_li">۲۳ دنبال کننده</li>
      </a>
      <a class="mgh_proinfo_activity_a" routerLinkActive="active">
        <li class="mgh_proinfo_activity_li">۴۱ دنبال شونده</li>
      </a>
</ul>

</nav>
<div class="mgh_proinfo_activity_contents">

  <div class="mgh_proinfo_activity_content">
      <div class="mgh_conversation_title">
        پاسخ داد
      </div>
      <div class="mgh_conversation_details">
        <div class="row no-gutters">
          <div class=" col-sm-1 mgh_conversation_img">
            <img class="mgh_conversation_image" src="./assets/fake_images/specialists1.jpg">
          </div>
          <div class="col-sm-11 mgh_conversation_dettext">
            <div class="mgh_conversation_namspec">
              <div class="mgh_conversation_name">
                علی رضایی
              </div>
              <div class="mgh_conversation_spec">
                طراح محصول
              </div>
            </div>
          <div class="mgh_conversation_dates">
            <span class="mgh_conversation_date">
              ۱۲ روز پیش
            </span>
          </div>

        </div>
      </div>
    </div>
      <div class="mgh_conversation_response">
        بله خوشبختانه جو خوبی به جامعه کارآفرینی داده شده ولی مشاهده می‌کنیم که خیلی از این مراسم تبدیل به یک روند شدن و تعداد بسیار اندکی خروجی دارند.
      </div>

      <div class="mgh_conversation_awnser">
        <div class="mgh_conversation_details">
          <div class="row no-gutters">
            <div class=" col-sm-1 mgh_conversation_img">
              <img class="mgh_conversation_image" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="col-sm-11 mgh_conversation_dettext">
              <div class="mgh_conversation_namspec">
                <div class="mgh_conversation_name">
                  علی رضایی
                </div>
                <div class="mgh_conversation_spec">
                  طراح محصول
                </div>
              </div>
              <div class="mgh_conversation_dates">
            <span class="mgh_conversation_date">
              ۱۲ روز پیش
            </span>
              </div>

            </div>
          </div>
        </div>
        <div class="mgh_conversation_response mgh_for_awnser">
          بله خوشبختانه جو خوبی به جامعه کارآفرینی داده شده ولی مشاهده می‌کنیم که خیلی از این مراسم تبدیل به یک روند شدن و تعداد بسیار اندکی خروجی دارند.
        </div>
      </div>


  </div>
    <div class="mgh_proinfo_activity_content">
      <div class="mgh_conversation_title">
        پرسش کرد
      </div>
      <div class="mgh_conversation_details">
        <div class="row no-gutters">
          <div class=" col-sm-1 mgh_conversation_img">
            <img class="mgh_conversation_image" src="./assets/fake_images/specialists1.jpg">
          </div>
          <div class="col-sm-11 mgh_conversation_dettext">
            <div class="mgh_conversation_namspec">
              <div class="mgh_conversation_name">
                علی رضایی
              </div>
              <div class="mgh_conversation_spec">
                طراح محصول
              </div>
            </div>
          <div class="mgh_conversation_dates">
            <span class="mgh_conversation_date">
              ۱۲ روز پیش
            </span>
          </div>

        </div>
      </div>
    </div>
      <div class="mgh_conversation_response">
        بله خوشبختانه جو خوبی به جامعه کارآفرینی داده شده ولی مشاهده می‌کنیم که خیلی از این مراسم تبدیل به یک روند شدن و تعداد بسیار اندکی خروجی دارند.
      </div>
  </div>


</div>
