<div class="mgh_mostViewBlogs">

  <h3 class="mgh_container_title">
    پر مخاطب ترین های بلاگ
  </h3>
  <div class="mgh_mostViewBlogs_content">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-sm-12">
        <div class="mgh_mostViewBlogs_img_big">
          <img class="mgh_mostViewBlogs_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" alt="">
          <div class="mgh_mostViewBlogs_image_text">
            <span class="mgh_mostViewBlogs_image_text_date-cat">
              {{Blogdetails[0].date}} • {{Blogdetails[0].Categortion}}
            </span>
            <span class="mgh_mostViewBlogs_image_text_que">
              بنظر شما بزرگترین مشکلات تیم سازی چیست؟
            </span>
          </div>
        </div>
          <div class="image__mask_big"></div>
      </div>
    </div>
    <div *ngFor="let Blogdetail of Blogdetails; index as i">
    <div  *ngIf="i % 2 == 1 " class="mmr-new-blogs" >
      <div *ngIf="i % 2 == 1 && Blogdetails[i]!= null" class=" mgh_padding_left_5 mgh_mostViewBlogs_contain">
        <div class="mgh_mostViewBlogs_img">
          <img class="mgh_mostViewBlogs_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" >
          <div class="mgh_mostViewBlogs_image_text mgh_bottom_5">
            <span class="mgh_mostViewBlogs_image_text_date-cat">
              {{Blogdetails[i].date}} • {{Blogdetails[i].Categortion}}
            </span>
            <span class="mgh_mostViewBlogs_image_text_que">
              {{Blogdetails[i].Question}}
            </span>
          </div>
        </div>
        <div class="image__mask1"></div>
      </div>
      <div *ngIf="i % 2 == 1 && Blogdetails[i+1]!= null" class=" mgh_padding_right_5 mgh_mostViewBlogs_contain">
        <div class="mgh_mostViewBlogs_img">
          <img class="mgh_mostViewBlogs_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" >
          <div class="mgh_mostViewBlogs_image_text mgh_bottom_5">
            <span class="mgh_mostViewBlogs_image_text_date-cat">
              {{Blogdetails[i+1].date}} • {{Blogdetails[i+1].Categortion}}
            </span>
            <span class="mgh_mostViewBlogs_image_text_que">
              {{Blogdetails[i+1].Question}}
            </span>
          </div>
        </div>
        <div class="image__mask2"></div>
      </div>
    </div>
    </div>
    <div [@fadeinout1000]="morequestions?'in': 'out'" *ngFor="let moreBlogdetail of moreBlogdetails; index as i">
      <div  *ngIf="i % 2 == 0 " class="mmr-new-blogs" >
        <div *ngIf="i % 2 == 0 && moreBlogdetails[i] != null" class=" mgh_padding_left_5 mgh_mostViewBlogs_contain">
          <div class="mgh_mostViewBlogs_img">
            <img class="mgh_mostViewBlogs_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" >
            <div class="mgh_mostViewBlogs_image_text mgh_bottom_5">
            <span class="mgh_mostViewBlogs_image_text_date-cat">
              {{moreBlogdetails[i].date}} • {{moreBlogdetails[i].Categortion}}
            </span>
              <span class="mgh_mostViewBlogs_image_text_que">
              {{moreBlogdetails[i].Question}}
            </span>
            </div>
          </div>
          <div class="image__mask1"></div>
        </div>
        <div *ngIf="i % 2 == 0 && moreBlogdetails[i+1] != null" class=" mgh_padding_right_5 mgh_mostViewBlogs_contain">
          <div class="mgh_mostViewBlogs_img">
            <img class="mgh_mostViewBlogs_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" >
            <div class="mgh_mostViewBlogs_image_text mgh_bottom_5">
            <span class="mgh_mostViewBlogs_image_text_date-cat">
              {{moreBlogdetails[(i+1)].date}} • {{moreBlogdetails[(i+1)].Categortion}}
            </span>
              <span class="mgh_mostViewBlogs_image_text_que">
              {{moreBlogdetails[i+1].Question}}
            </span>
            </div>
          </div>
          <div class="image__mask2"></div>
        </div>
      </div>
    </div>
    <div class="mgh_more_load">
  <span class="mgh_more_load_text" (click)="loadmore1000(2000)">
    نمایش بیشتر
  </span>
      <span class="mgh_more_load_icon">
        <img *ngIf="!loading" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAC9wAAAvcBLRSNOAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADNSURBVGiB7dSxDcIwEAXQf9kgC2QFkBKlpGMhCsQUZBIYAImK1gUlBR09kaC/o6GKjePKQcp/5Vn/7F8kABEREREREdE8SWjonKvMrBOR1Xd0EZFtXdf3lKU5814B51wF4AqgHBz1qrpo2/YxdnnOfDFcYGZdIAwAZVEU+9jlU+S9AiKyjuyPnU2S9wrgx3eRcDZJPlTgHFlwSnhA1nyowA5AH5g/VXWT8ICsea9A0zQ3AEszOwJ4A3iJyEFVl2N/kH/IExEREREREc3FByq0f+OVp4DIAAAAAElFTkSuQmCC">
        <img  *ngIf="loading" src="./assets/Icons/Svgs/SVG-Loaders-master/svg-loaders/three-dots.svg" width="60" alt="">
  </span>
    </div>
  </div>
</div>

