<div class="mgh_simexperts">
  <div class="mgh_viewtypes_title">
    متخصصان مشابه
  </div>
  <div class="mgh_simexperts_contents">
    <div class="mgh_simexperts_content">
      <div class="row no-gutters">
        <div class="col-sm-9">
          <div class="mgh_simexperts_content_det">
            <div class="mgh_simexperts_image">
              <img src="./assets/fake_images/specialists1.jpg" alt="" class="mgh_simexperts_img">
            </div>
            <div class="mgh_simexperts_content_text">
              <div class="mgh_simexperts_name">
                رضا کریمی
              </div>
              <div class="mgh_simexperts_experts">
                توسعه دهنده Back-End
              </div>
              <div class="mgh_simexperts_interests">
              <span class="mgh_simexperts_interests_icon">
                <img src="./assets/Icons/Svgs/like.svg" class="mgh_simexperts_interests_icon_img">
              </span>
                تکنولوژی ، استارتاپ
              </div>
            </div>


          </div>
          <div class="mgh_simexperts_content_btn">
            <button class="mgh_simexperts_content_button">
              دنبال کنید
            </button>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="mgh_simexperts_statistics">
            <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            ۱۴
                            </span>

              <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
            </div>

            <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            ۹۲۹
                            </span>

              <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mgh_simexperts_content">
      <div class="row no-gutters">
        <div class="col-sm-9">
          <div class="mgh_simexperts_content_det">
            <div class="mgh_simexperts_image">
              <img src="./assets/fake_images/specialists1.jpg" alt="" class="mgh_simexperts_img">
            </div>
            <div class="mgh_simexperts_content_text">
              <div class="mgh_simexperts_name">
                رضا کریمی
              </div>
              <div class="mgh_simexperts_experts">
                توسعه دهنده Back-End
              </div>
              <div class="mgh_simexperts_interests">
              <span class="mgh_simexperts_interests_icon">
                <img src="./assets/Icons/Svgs/like.svg" class="mgh_simexperts_interests_icon_img">
              </span>
                تکنولوژی ، استارتاپ
              </div>
            </div>


          </div>
          <div class="mgh_simexperts_content_btn">
            <button class="mgh_simexperts_content_button">
              دنبال کنید
            </button>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="mgh_simexperts_statistics">
            <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            ۱۴
                            </span>

              <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
            </div>

            <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            ۹۲۹
                            </span>

              <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="mgh_more_load">
  <span class="mgh_more_load_text">
    نمایش بیشتر
  </span>
    <span class="mgh_more_load_icon">
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAC9wAAAvcBLRSNOAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADNSURBVGiB7dSxDcIwEAXQf9kgC2QFkBKlpGMhCsQUZBIYAImK1gUlBR09kaC/o6GKjePKQcp/5Vn/7F8kABEREREREdE8SWjonKvMrBOR1Xd0EZFtXdf3lKU5814B51wF4AqgHBz1qrpo2/YxdnnOfDFcYGZdIAwAZVEU+9jlU+S9AiKyjuyPnU2S9wrgx3eRcDZJPlTgHFlwSnhA1nyowA5AH5g/VXWT8ICsea9A0zQ3AEszOwJ4A3iJyEFVl2N/kH/IExEREREREc3FByq0f+OVp4DIAAAAAElFTkSuQmCC">
  </span>
  </div>
</div>
