<div class="mgh_settingpanel">

  <div class="mgh_settingpanel_title">
    تنظیمات
  </div>

  <div class="mgh_settingpanel_content">

    <ul class="mgh_settingpanel_ul">
      <a routerLink="./profile"  routerLinkActive="active" class="settingpanel_alink">
        <li class="mgh_settingpanel_li">
      <span class="mgh_settingpanel_span_icon">
        <img class="mgh_settingpanel_span_icon_img" src="./assets/Icons/Svgs/all_contents.svg">
      </span>
        <span class="mgh_settingpanel_span_text">ویرایش پروفایل</span>
      </li>
      </a>
      <a routerLink="./password"  routerLinkActive="active" class="settingpanel_alink">
        <li class="mgh_settingpanel_li">
        <span class="mgh_settingpanel_span_icon">
          <img class="mgh_settingpanel_span_icon_img" src="./assets/Icons/Svgs/conversation.svg">
        </span>
          <span class="mgh_settingpanel_span_text">رمز عبور</span>
        </li>
      </a>
      <a routerLink="./notifications"  routerLinkActive="active" class="settingpanel_alink">
        <li class="mgh_settingpanel_li">
        <span class="mgh_settingpanel_span_icon">
          <img class="mgh_settingpanel_span_icon_img" src="./assets/Icons/Svgs/conversation.svg">
        </span>
          <span class="mgh_settingpanel_span_text">اطلاع رسانی ها</span>
        </li>
      </a>
    </ul>
  </div>

</div>
`
