<div class="mmr_about_logo">

</div>
<div class="mmr_about_topic">
  توسعه کسب و کار ها و توسعه فردی با هم افزایی و رشد همدیگر
</div>
<div class="mmr_about_image0">
  <img src="./assets/fake_images/about.PNG" class="mmr_about_image">
</div>
<div class="mmr_about_aboutus">
  <div class="aboutus_text">
    <div class="aboutus_text_topic">
      درباره ما
    </div>
    <div class="aboutus_text_description ">
      اکسپرتا حاصل مطالعات، بررسی و تلاش های چندین ماهه ایست که به شکل پیوسته درباره انجام و نحوه اجرایی کردن این ایده در ایران، و کاربردی کردن آن برای کاربران ایرانی به انجام رسیده است.
      اما این ایده چیست؟ ذهن کنجکاو بشر همواره در پی این بوده است تا با بررسی سلایق و نظریات دیگران به بهترین راه ها و ایده ها دست پیدا کند. به همین خاطر روزانه ده ها و صدها نظرسنجی و پرسشگری انجام می شود تا با بررسی جامعه و نمونه ها نظر دیگران را در مورد هر چیزی دانست. زیرا تنها با تکیه بر خرد جمعی است که می توان جامعه ای شکوفا و پیشرو داشت.
      ایده بپرسیم در سال ۹۳ شکل گرفت و پس از چندین ماه مطالعه جمعی ماهیت آن اینگونه بنا شد تا بتواند نقش بسزایی در بهبود کیفیت زندگی مردم داشته باشد و این بهبود نیازمند کمک و همیاری هموطنان خوب کشورمان می باشد.
      پیاده سازی و ارائه امکانات در بپرسیم به دلیل ماهیت استارتاپی بودن آن زمان بر بود و البته این تاخیر توانست پروژه را در چندین شاخصه ی مختلف بهبود ببخشد و پروژه ای کامل و شاخص را ارائه کند. شاید همواره برای شما سوال پیش آمده باشد که دیگران درباره وقایع و اتفاقات و هرچیزی که مربوط سبک زندگی باشد چه نظری دارند.
    </div>
  </div>
  <div class="aboutus_img">
    <img src="./assets/fake_images/aboutus.PNG" class="aboutus_img">
  </div>

</div>

<div class="mmr_about_members">
  <div class="about_members_topic">
    اعضای اکسپرتا
  </div>
  <div class="about_members_images">
    <div class="about_members_contain">
      <img src="./assets/fake_images/specialists1.jpg" class="about_members_image">
      <div class="about_members_name">
        مهدی وفایی
      </div>
      <div class="about_members_desc">
        توسعه دهنده وب
      </div>
    </div>

    <div class="about_members_contain">
      <img src="./assets/fake_images/specialists1.jpg" class="about_members_image">
      <div class="about_members_name">
        مهدی وفایی
      </div>
      <div class="about_members_desc">
        توسعه دهنده وب
      </div>
    </div>

    <div class="about_members_contain">
      <img src="./assets/fake_images/specialists1.jpg" class="about_members_image">
      <div class="about_members_name">
        مهدی وفایی
      </div>
      <div class="about_members_desc">
        توسعه دهنده وب
      </div>
    </div>

    <div class="about_members_contain">
      <img src="./assets/fake_images/specialists1.jpg" class="about_members_image">
      <div class="about_members_name">
        مهدی وفایی
      </div>
      <div class="about_members_desc">
        توسعه دهنده وب
      </div>
    </div>
  </div>
</div>

<div class="mmr_about_location">
  <div class="about_location_address">
    <div class="about_location_topic">
      اطلاعات تماس
    </div>
    <div class="about_address_all">تلفن: ۳۴۹۸۷۳۴۱ - ۰۲۱</div>
    <div class="about_address_all">ایمیل: info@xperta.ir</div>
    <div class="about_address_all">آدرس: چهارراه ولیعصر، کوچه محمودی، پلاک ۳</div>
  </div>
  <div class="about_location_map0">
    <img src="./assets/fake_images/map.PNG" class="about_location_map">
  </div>
</div>
<div class="mmr_about_contact">
  <div class="about_contact_topic">
    فرم تماس با ما
  </div>
  <div class="about_contact_information">
    <div class="about_information_personal">
      <div class="mgh_groups_login ">
        <input type="text"  class="mgh_input_login mmr_input_about" >
        <span class="mgh_label_input_login_wrapper"><label class="mgh_label_input_login">نام </label></span>
      </div>
      <div class="mgh_groups_login">
        <input type="text" id="email" class="mgh_input_login mmr_input_about" >
        <span class="mgh_label_input_login_wrapper"><label for="email" class="mgh_label_input_login">ایمیل</label></span>
      </div>
    </div>
    <div class="about_information_description">
      <div class="mgh_groups_login">
        <textarea type="text"  class="mgh_input_login mmr_textarea_about" ></textarea>
        <span class="mgh_label_input_login_wrapper"><label class="mgh_label_input_login">توضیحات </label></span>
      </div>

    </div>
  </div>
  <div class="mgh_button_wrapper">
    <button type="submit" class="mgh_button_login">ارسال</button>
  </div>
</div>
<div class="mmr_end_logo">
  <img src="./assets/Icons/Svgs/Xperta_logo.svg" class="header_centertbox_logo">

</div>




