<div class="mgh_header_rightbox">
  <div class="header_rightbox_homebox">
    <img class="rightbox_homebox_img" src="./assets/Icons/Svgs/home.svg">
    <div class="mgh_header_text">فید مطالب</div>
  </div>
  <div class="header_rightbox_notifbox">
    <app-notificationheadercounter></app-notificationheadercounter>
    <div class="mgh_header_text">اعلانات</div>
    <app-notificationheader></app-notificationheader>
  </div>
  <div class="header_rightbox_person">
    <img class="rightbox_person_img" src="./assets/Icons/Svgs/conversation.svg">
  </div>
</div>
