<div class="container">
    <div class="mgh_category_wrapper">
      <div class="mgh_category_title">
        دسته بندی های سوالات
      </div>
      <div class="mgh_category_content">
        <div class="row no-gutters mgh_category_row">
          <div class="col-sm-4 mgh_category_img">
            <img class="mgh_category_image" src="./assets/category/aboutus_featureimage.png">
            <div class="image__mask_category">

              <div class="mgh_mask_showicon">
                <img class="mgh_mask_showicon_img" src="./assets/Icons/Svgs/briefcase_white.svg">
              </div>
              <div class="mgh_mask_content">
                  <span class="mgh_mask_content_text">
                    تیم سازی
                  </span>
                <span class="mgh_mask_content_icon">
                    <img class="mgh_mask_content_img" src="./assets/Icons/Svgs/plus_white.svg">
                  </span>
              </div>

            </div>
          </div>
          <div class="col-sm-4 mgh_category_img">
            <img class="mgh_category_image" src="./assets/category/aboutus_featureimage.png">
            <div class="image__mask_category">

              <div class="mgh_mask_showicon">
                <img class="mgh_mask_showicon_img" src="./assets/Icons/Svgs/briefcase_white.svg">
              </div>
              <div class="mgh_mask_content">
                  <span class="mgh_mask_content_text">
                    جذب سرمایه
                  </span>
                <span class="mgh_mask_content_icon">
                    <img class="mgh_mask_content_img" src="./assets/Icons/Svgs/plus_white.svg">
                  </span>
              </div>

            </div>
          </div>
          <div class="col-sm-4 mgh_category_img">
            <img class="mgh_category_image" src="./assets/category/aboutus_featureimage.png">
            <div class="image__mask_category">

              <div class="mgh_mask_showicon">
                <img class="mgh_mask_showicon_img" src="./assets/Icons/Svgs/briefcase_white.svg">
              </div>
              <div class="mgh_mask_content">
                  <span class="mgh_mask_content_text">
                    بازاریابی و روابط عمومی
                  </span>
                <span class="mgh_mask_content_icon">
                    <img class="mgh_mask_content_img" src="./assets/Icons/Svgs/plus_white.svg">
                  </span>
              </div>

            </div>
          </div>

        </div>
        <div class="row no-gutters mgh_category_row">
          <div class="col-sm-4 mgh_category_img">
            <img class="mgh_category_image" src="./assets/category/aboutus_featureimage.png">
            <div class="image__mask_category">

              <div class="mgh_mask_showicon">
                <img class="mgh_mask_showicon_img" src="./assets/Icons/Svgs/briefcase_white.svg">
              </div>
              <div class="mgh_mask_content">
                  <span class="mgh_mask_content_text">
                    توسعه و مدیریت محصول
                  </span>
                <span class="mgh_mask_content_icon">
                    <img class="mgh_mask_content_img" src="./assets/Icons/Svgs/plus_white.svg">
                  </span>
              </div>

            </div>
          </div>
          <div class="col-sm-4 mgh_category_img">
            <img class="mgh_category_image" src="./assets/category/aboutus_featureimage.png">
            <div class="image__mask_category">

              <div class="mgh_mask_showicon">
                <img class="mgh_mask_showicon_img" src="./assets/Icons/Svgs/briefcase_white.svg">
              </div>
              <div class="mgh_mask_content">
                  <span class="mgh_mask_content_text">
                    توسعه کسب و کار
                  </span>
                <span class="mgh_mask_content_icon">
                    <img class="mgh_mask_content_img" src="./assets/Icons/Svgs/plus_white.svg">
                  </span>
              </div>

            </div>
          </div>
          <div class="col-sm-4 mgh_category_img">
            <img class="mgh_category_image" src="./assets/category/aboutus_featureimage.png">
            <div class="image__mask_category">

              <div class="mgh_mask_icons">

                <div class="mgh_mask_showicon">
                  <img class="mgh_mask_showicon_img" src="./assets/Icons/Svgs/briefcase_white.svg">
                </div>
                <div class="mgh_mask_content">
                  <span class="mgh_mask_content_text">
                    حقوقی
                  </span>
                  <span class="mgh_mask_content_icon mgh_green">
                    <img class="mgh_mask_content_img" src="./assets/Icons/Svgs/correct.svg">
                  </span>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  <div class="mgh_newblog_buttons"  #buttons>
    <div class="mgh_quickque_btn">
      <button type="submit" class="mgh_quickque_button">
        ذخیره
      </button>
    </div>
  </div>
</div>
