<div class="mmr_faqs_logo">

</div>
<div class="mmr_faqs_topic">
  سوالات متداول
</div>
<div class="mmr_faqs_image0">
  <img src="./assets/fake_images/faqs.PNG" class="mmr_faqs_image">
</div>
<div class="mmr_faqs_faqsus">
  <div class="faqsus_text ">
    <div class="faqsus_text_topic">
      سوالی در رابطه با کارکرد سیستم دارید؟
    </div>
    <div class="faqsus_text_description ">
      اگر سوالی دارید که جوابش را پیدا نکردید هر زمان از روز که خواستید میتوانید با ما در ارتباط باشید!
    </div>
    <div class="faqsus_text_description" style="margin-top: 10px; text-align: left">
      Info@Xperta.ir
    </div>
  </div>
  <div class="faqsus_questions">
    <div class="faqsus_question_template" style="margin-top: 0px">
      <div class="faqsus_question1">
        چطور میتوانم یک سوال از یک متخصص بپرسم؟
      </div>
      <img src="./assets/Icons/Svgs/plus.svg" class="faqs_plus_logo">
    </div>
    <div class="faqsus_question_template">
      <div class="faqsus_question1">
        چگونه مطمئن شویم که یک حساب برای شخص معروف مطمئن و رسمی است؟
      </div>
      <img src="./assets/Icons/Svgs/plus.svg" class="faqs_plus_logo">
    </div>
    <div class="faqsus_question_template">
      <div class="faqsus_question1">
        آیا می شود یک حساب کسب و کاری داشت؟
      </div>
      <img src="./assets/Icons/Svgs/plus.svg" class="faqs_plus_logo">
    </div>
    <div class="faqsus_question_template" style="border: none">
      <div class="faqsus_question1" style="font-weight: bold; ">
        چطور میتوانم یک سوال از یک متخصص بپرسم؟
      </div>
      <img src="./assets/Icons/Svgs/plus.svg" class="faqs_plus_logo">
    </div>
    <div class="faqus_answer1">
      شما میتوانید با مراجعه به پروفایل شخص مورد نظر و کلیک بر روی پرسش سوال + از شخص مورد نظر خود سوال خود را پرسیده و همچنین میتوانید پس از پرسش سوال، شخص مورد نظر را به جواب دادن به سوال دعوت نمایید.
    </div>
    <div class="faqsus_question_template">
      <div class="faqsus_question1">
        چگونه مطمئن شویم که یک حساب برای شخص معروف مطمئن و رسمی است؟
      </div>
      <img src="./assets/Icons/Svgs/plus.svg" class="faqs_plus_logo">
    </div>
    <div class="faqsus_question_template">
      <div class="faqsus_question1">
        آیا می شود یک حساب کسب و کاری داشت؟
      </div>
      <img src="./assets/Icons/Svgs/plus.svg" class="faqs_plus_logo">
    </div>

  </div>
  </div>




<div class="mmr_faqs_contact">
  <div class="faqs_contact_topic">
    فرم تماس با ما
  </div>
  <div class="faqs_contact_information">
    <div class="faqs_information_personal">
      <div class="mgh_groups_login ">
        <input type="text"  class="mgh_input_login mmr_input_faqs" >
        <span class="mgh_label_input_login_wrapper"><label class="mgh_label_input_login">نام </label></span>
      </div>
      <div class="mgh_groups_login">
        <input type="text" id="email" class="mgh_input_login mmr_input_faqs" >
        <span class="mgh_label_input_login_wrapper"><label for="email" class="mgh_label_input_login">ایمیل</label></span>
      </div>
    </div>
    <div class="about_information_description">
      <div class="mgh_groups_login">
        <textarea type="text"  class="mgh_input_login mmr_textarea_faqs" ></textarea>
        <span class="mgh_label_input_login_wrapper"><label class="mgh_label_input_login">توضیحات </label></span>
      </div>

    </div>
  </div>
  <div class="mgh_button_wrapper">
    <button type="submit" class="mgh_button_login">ارسال</button>
  </div>
</div>
<div class="mmr_end_logo">
  <img src="./assets/Icons/Svgs/Xperta_logo.svg" class="header_centertbox_logo">

</div>


