<div class="mgh_forgotpass" [@newcompe]="'defult'" >
<div class="mgh_groups_login">
  <input type="text" id="user/email" class="mgh_input_login float-right" dir="ltr">
  <span class="mgh_label_input_login_wrapper"><label for="user/email" class="mgh_label_input_login">نام کاربری / ایمیل</label></span>
</div>
<div class="mgh_button_wrapper">
  <button type="submit" class="mgh_button_login">بازیابی</button>
</div>
<div class="mgh_change_type">
  <a  href="javascript:;" (click)="Toggle_type($event)">

            <span class="mgh_change_type_text">
        <fa name="arrow-right"></fa>  بازگشت
        </span>
  </a>

</div>
</div>
