  <table class="email-send">
      <tr class="table_head">
        <th class="table_head_text">متن</th>
        <th class="table_head_image">عکس</th>
        <th class="table_profile_details">نویسنده</th>
        <th class="table_dates_created">تاریخ</th>
        <th class="table_head_action">عملیات</th>
      </tr>
      <tr>
        <td class="table_head_text">
          <div class="table_email_send_title">
            بنظر شما بزرگترین مشکلات تیم سازی چیست؟
          </div>
          <div class="table_head_text_tag">
            <span class="table_head_text_tag_txt">پیش نویس</span>
            <span class="table_head_text_tag_txt">متخصصین</span>
            <span class="table_head_text_tag_txt">کاربران عادی</span>
          </div>
        </td>
        <td class="table_head_image">
          <img src="./assets/fake_images/Entrepreneur-Blogs.jpg">
        </td>
        <td class="table_profile_details">
          <div class="table_profile_details_image">
            <img src="./assets/fake_images/specialists1.jpg">
          </div>
          <div class="table_profile_details_name">
            صادق عیدی
          </div>
        </td>
        <td class="table_dates_created">
          <div class="table_date_created">
            97/08/28
          </div>
          <div class="table_time_created">
            22:43
          </div>
        </td>

        <td class="table_head_action">
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
        </td>
      </tr>
          <tr>
        <td class="table_head_text">
          <div class="table_email_send_title">
            بنظر شما بزرگترین مشکلات تیم سازی چیست؟
          </div>
          <div class="table_head_text_tag">
            <span class="table_head_text_tag_txt">پیش نویس</span>
            <span class="table_head_text_tag_txt">متخصصین</span>
            <span class="table_head_text_tag_txt">کاربران عادی</span>
          </div>
        </td>
        <td class="table_head_image">
          <img src="./assets/fake_images/Entrepreneur-Blogs.jpg">
        </td>
        <td class="table_profile_details">
          <div class="table_profile_details_image">
            <img src="./assets/fake_images/specialists1.jpg">
          </div>
          <div class="table_profile_details_name">
            صادق عیدی
          </div>
        </td>
        <td class="table_dates_created">
          <div class="table_date_created">
            97/08/28
          </div>
          <div class="table_time_created">
            22:43
          </div>
        </td>

        <td class="table_head_action">
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
        </td>
      </tr>

    </table>
