<div class="mgh_adminpanel_details">
  <div class="adminpanel_submenu">
    <ul class="adminpanel_submenu_ul">
        <li class="adminpanel_submenu_li_addicon">
          <span>
            +
          </span>
          افزودن
        </li>
    </ul>
    <ul class="adminpanel_submenu mgh_secend">
      <div  class="adminpanel_searchinput">
        <input type="text" class="adminpanel_search_input" placeholder="جستجو">
        <img  class="adminpanel_searchinput_icon" src="./assets/Icons/Svgs/Path2.svg">
      </div>

    </ul>
  </div>

  <div class="adminpanel_table">
    <table class="categories">
      <tr class="table_head">
        <th class="table_head_text">متن</th>
        <th class="table_head_image">عکس</th>
        <th class="table_icon_add">ایکون</th>
        <th class="table_head_action">عملیات</th>
      </tr>
      <tr>
        <td class="table_head_text">
          <div class="table_category_txt">
            حقوقی
          </div>
        </td>
        <td class="table_head_image">
          <img src="./assets/fake_images/Entrepreneur-Blogs.jpg">
        </td>
        <td class="table_icon_add">
          <img src="./assets/Icons/Svgs/investment.svg" alt="" class="table_icon_add_img">
        </td>
        <td class="table_head_action">
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
        </td>
      </tr>
      <tr>
        <td class="table_head_text">
          <div class="table_category_txt">
            حقوقی
          </div>
        </td>
        <td class="table_head_image">
          <img src="./assets/fake_images/Entrepreneur-Blogs.jpg">
        </td>
        <td class="table_icon_add">
          <img src="./assets/Icons/Svgs/investment.svg" alt="" class="table_icon_add_img">
        </td>
        <td class="table_head_action">
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
        </td>
      </tr>
    </table>


  </div>



</div>
