<div class="mgh_blog_rightcontent">
  <div class="mgh_blog_img">
    <img class="mgh_blog_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" alt="">
    <div class="mgh_blog_image_text">
            <span class="mgh_blog_image_text_que">
              بنظر شما بزرگترین مشکلات تیم سازی چیست؟
            </span>
    </div>
    <div class="image__mask_blogp"></div>
  </div>
  <div class="mgh_blog_contents">
    <div class="mgh_blog_details">
      <div class="mgh_blog_rightde">
        <div class="mgh_blogname_image">
          <img class="mgh_blogname_img" src="./assets/fake_images/specialists1.jpg" alt="">
        </div>
        <div class="mgh_blog_name">
          صادق عیدی
        </div>
      </div>
      <div class="mgh_blog_leftde">
        <div class="mgh_blog_catereview">
              <span class="mgh_blog_review">
                ۲ نظر
              </span>
          <span class="blog_catereview_sign"> • </span>
          <span class="mgh_blog_category">
                استارتاپ
              </span>
        </div>
        <div class="mgh_blog_likes">
          <button class="blog_like_btn"><span class="blog_btn_text"><span class="blog_like_btn_span"><img src="./assets/Icons/Svgs/likeblack.svg" class="blog_like_btn_icon"> </span>۶ نفر پسندیده</span></button>
        </div>
      </div>

    </div>
    <div class="mgh_blog_texts">
      این یک فرصت عالی برای انتقال تجربه و  بهبود سطح علمی کسب و کارها هست، اما به شرط اینکه افرادی رو که در کسب کار موفق و شناخته شده هستند دعوت کنند و تجربه واقعی و اجرایی + مباحث علمی و تئوری در کنار همدیگه ارائه بشه. من ساکن شیراز هستم و هر ماه شاهد این موضوع هستم که سمینارها و کارگاه‌های کارآفرینی توسط افرادی برگزار میشه که در این فضا هیچ کاری نکرده‌اند و اثر مثبتی نداشته‌اند. تنها فعالیت آنها مطالعه کتابهای این زمینه، بازگو کردن این مطالب در سمینارها و کارگاه‌های کارآفرینی و عکس گرفتن با افراد شناخته شده هست.
      این موضوع مشکل بزرگی هست که میتونه به انگیزه افراد لطمه بزنه و کم کم شبیه مراکز آموزشی دانشگاهی بشه. این یک فرصت عالی برای انتقال تجربه و  بهبود سطح علمی کسب و کارها هست، اما به شرط اینکه افرادی رو که در کسب کار موفق و شناخته شده هستند دعوت کنند و تجربه واقعی و اجرایی + مباحث علمی و تئوری در کنار همدیگه ارائه بشه. من ساکن شیراز هستم و هر ماه شاهد این موضوع هستم که سمینارها و کارگاه‌های کارآفرینی توسط افرادی برگزار میشه که در این فضا هیچ کاری نکرده‌اند و اثر مثبتی نداشته‌اند. تنها فعالیت آنها مطالعه کتابهای این زمینه، بازگو کردن این مطالب در سمینارها و کارگاه‌های کارآفرینی و عکس گرفتن با افراد شناخته شده هست.
      <img class="blog_texts_img" src="./assets/fake_images/Entrepreneur-Blogs.jpg" alt="">
      این یک فرصت عالی برای انتقال تجربه و  بهبود سطح علمی کسب و کارها هست، اما به شرط اینکه افرادی رو که در کسب کار موفق و شناخته شده هستند دعوت کنند و تجربه واقعی و اجرایی + مباحث علمی و تئوری در کنار همدیگه ارائه بشه. من ساکن شیراز هستم و هر ماه شاهد این موضوع هستم که سمینارها و کارگاه‌های کارآفرینی توسط افرادی برگزار میشه که در این فضا هیچ کاری نکرده‌اند و اثر مثبتی نداشته‌اند. تنها فعالیت آنها مطالعه کتابهای این زمینه، بازگو کردن این مطالب در سمینارها و کارگاه‌های کارآفرینی و عکس گرفتن با افراد شناخته شده هست.
      این موضوع مشکل بزرگی هست که میتونه به انگیزه افراد لطمه بزنه و کم کم شبیه مراکز آموزشی دانشگاهی بشه. این یک فرصت عالی برای انتقال تجربه و  بهبود سطح علمی کسب و کارها هست، اما به شرط اینکه افرادی رو که در کسب کار موفق و شناخته شده هستند دعوت کنند و تجربه واقعی و اجرایی + مباحث علمی و تئوری در کنار همدیگه ارائه بشه. من ساکن شیراز هستم و هر ماه شاهد این موضوع هستم که سمینارها و کارگاه‌های کارآفرینی توسط افرادی برگزار میشه که در این فضا هیچ کاری نکرده‌اند و اثر مثبتی نداشته‌اند. تنها فعالیت آنها مطالعه کتابهای این زمینه، بازگو کردن این مطالب در سمینارها و کارگاه‌های کارآفرینی و عکس گرفتن با افراد شناخته شده هست.
    </div>
  </div>
</div>
