<div class="mgh_favscope">
  <div class="mgh_viewtypes_title">
    حوزه های مورد علاقه
  </div>
  <div class="mgh_viewtypes_content">
    <ul class="mgh_viewtypes_ul">
      <li class="mgh_favscope_li active">
      <span class="mgh_favscope_span_icon">
        <img class="mgh_favscope_span_icon_img" src="./assets/Icons/Svgs/all_contents.svg">
      </span>
        <span class="mgh_viewtypes_span_text">استارتاپ</span>
      </li>
        <li class="mgh_favscope_li">
      <span class="mgh_favscope_span_icon">
        <img class="mgh_favscope_span_icon_img" src="./assets/Icons/Svgs/all_contents.svg">
      </span>
        <span class="mgh_viewtypes_span_text">تکنولوژی</span>
      </li>
        <li class="mgh_favscope_li">
      <span class="mgh_favscope_span_icon">
        <img class="mgh_favscope_span_icon_img" src="./assets/Icons/Svgs/all_contents.svg">
      </span>
        <span class="mgh_viewtypes_span_text">طراحی</span>
      </li>
    </ul>
  </div>
</div>
