<div class="mgh_adminpanel_details">
  <div class="adminpanel_submenu">
    <ul class="adminpanel_submenu_ul">
      <a class="adminpanel_submenu_a active" routerLinkActive="active" [routerLinkActiveOptions]="true">
        <li class="adminpanel_submenu_li">جدید</li>
      </a>
      <a class="adminpanel_submenu_a" routerLinkActive="active">
        <li class="adminpanel_submenu_li">همه</li>
      </a>
    </ul>
    <ul class="adminpanel_submenu mgh_secend">
      <div  class="adminpanel_searchinput">
        <input type="text" class="adminpanel_search_input" placeholder="جستجو">
        <img  class="adminpanel_searchinput_icon" src="./assets/Icons/Svgs/Path2.svg">
      </div>



    </ul>
  </div>
  <div class="adminpanel_table">
    <table class="users">
      <tr class="table_head">
        <th class="table_profile_details">نویسنده</th>
        <th class="table_head_email">ایمیل</th>
        <th class="table_head_socialnetworks">شبکه های اجتماعی</th>
        <th class="table_dates_created">تاریخ عضویت</th>
        <th class="table_head_action">عملیات</th>
      </tr>
      <tr>
        <td class="table_profile_details">
          <div class="table_profile_details_image">
            <img src="./assets/fake_images/specialists1.jpg">
          </div>
          <div class="table_profile_details_name">
            صادق عیدی
          </div>
        </td>
        <td class="table_head_email">
          <div class="table_email_txt">
            sadegh@gmail.com
          </div>
        </td>
        <td class="table_head_socialnetworks">
           <span class="socialnetworks_icon">
            <img src="./assets/Icons/Svgs/Social networks/Instagram.svg" class="socialnetworks_icon_img">
          </span>
          <span class="socialnetworks_icon">
            <img src="./assets/Icons/Svgs/Social networks/Linkdin.svg" class="socialnetworks_icon_img">
          </span>

          <span class="socialnetworks_icon">
            <img src="./assets/Icons/Svgs/Social networks/Twitter.svg" class="socialnetworks_icon_img">
          </span>

          <span class="socialnetworks_icon">
            <img src="./assets/Icons/Svgs/Social networks/Telgram.svg" class="socialnetworks_icon_img">
          </span>
        </td>
        <td class="table_dates_created">
          <div class="table_date_created">
            97/08/28
          </div>
          <div class="table_time_created">
            22:43
          </div>
        </td>

        <td class="table_head_action">
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>
          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>

          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>

          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>

          <span class="action_icon">
            <img src="./assets/Icons/Svgs/draft.svg" class="action_icon_img">
          </span>

        </td>
      </tr>
    </table>

  </div>

</div>
