<div class="mgh_notification">
  <div class="notification_title">
    ویرایش اطلاع رسانی ها
  </div>
  <div class="notification_contents">
  <div class="firstcheckbox">
    <input type="checkbox" class="custom-control-input" id="firstcheckbox" checked >
    <label class="custom-control-label" for="firstcheckbox">لغو تمام اطلاع رسانی های ایمیلی</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" class="custom-control-input" id="checkbox1" >
    <label class="custom-control-label mgh_lowwight" for="checkbox1">مایل به دریافت خبرنامه از طریق ایمیل هستم</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" class="custom-control-input" id="checkbox2" checked >
    <label class="custom-control-label mgh_lowwight" for="checkbox2">هنگامی که یک نفر شما را “فالو” میکند مایل به دریافت اطلاع رسانی از طریق ایمیل هستم</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" class="custom-control-input" id="checkbox3" checked >
    <label class="custom-control-label mgh_lowwight" for="checkbox3">هنگامی که یک نفر شما را “دعوت به پاسخ” میکند تمایل به دریافت اطلاع رسانی از طریق ایمیل دارم</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" class="custom-control-input" id="checkbox4" checked>
    <label class="custom-control-label mgh_lowwight" for="checkbox4">هنگامی که یک نفر سوال کامنت شما را “لایک” میکند تمایل به دریافت اطلاع رسانی از طریق ایمیل دارمی</label>
  </div>
    <div class="passwordsetting_savebtn">
      <button class="passwordsetting_savebutton" type="submit">ذخیره</button>
    </div>


  </div>
</div>
