<div class="container">
  <div class="row mgh_profile_container">
    <div class="col-sm-9 mgh_profile_rightside">
      <div class="mgh_profile_rightcontent">
        <app-proinfo></app-proinfo>
      </div>
      <div class="mgh_profile_activity">
        <app-proactivity></app-proactivity>
      </div>
      <div class="mgh_profile_followers">
        <app-prfollowers></app-prfollowers>
      </div>
    </div>
    <div class="col-sm-3 mgh_profile_leftside">
      <div class="mgh_profile_leftside_container">
        <app-favscope></app-favscope>
      </div>
         <div class="mgh_profile_leftside_container">
        <app-simexperts></app-simexperts>
      </div>

    </div>


  </div>






</div>
