<div class="container">
  <div class="row">
    <div class="col-sm-8 mgh_right_newblog">
      <div class="mgh_right_newblog_content">
        <input class="mgh_newblog_input" type="text"  placeholder="عنوان مطلب را اینجا وارد کنید">
        <textarea  placeholder="چه سوالی در ذهنتون دارید؟"
                   #textArea
                   maxlength="240"
                   class="mgh_newblog_textbox"></textarea>

      </div>
      <div class="mgh_newblog_buttons"  #buttons>
        <div class="mgh_quickque_2btn">
          <button type="submit" class="mgh_quickque_button">
            انتشار
          </button>
          <button type="submit" class="mgh_quickque_button_presubmit">
            پیش نویس
          </button>

        </div>
      </div>
    </div>

    <div class="col-sm-4 mgh_left_newblog_content">
      <div class="mgh_newblog_upload">
        <div class="mgh_newblog_upload_icon">
          <img class="mgh_newblog_upload_img" src="./assets/Icons/Svgs/image.svg">
        </div>
        <div class="mgh_newblog_upload_text">
          آپلود تصویر اصلی
        </div>
      </div>

      <div class="mgh_email_setting">
        <div class="email_setting_title">
          دریافت کنندگان
        </div>
        <div class="email_setting_checkbox">
          <div class="firstcheckbox">
            <input type="checkbox" class="custom-control-input" id="firstcheckbox" checked >
            <label class="custom-control-label" for="firstcheckbox">متخصصین</label>
          </div>
          <div class="firstcheckbox">
            <input type="checkbox" class="custom-control-input" id="secendcheckbox" checked >
            <label class="custom-control-label" for="secendcheckbox">کاربران عادی</label>
          </div>
        </div>
        <div class="email_setting_searchbox">
          <div  class="adminpanel_searchinput">
            <input type="text" class="adminpanel_search_input" placeholder="جستجو">
            <img  class="adminpanel_searchinput_icon" src="./assets/Icons/Svgs/Path2.svg">
          </div>

        </div>
        <div class="email_setting_tags">
          <span class="email_setting_tags_txt">
            <img class="email_setting_tags_icon" src="./assets/Icons/Svgs/cancel.svg">صادق عیدی
          </span>
          <span class="email_setting_tags_txt">
            <img class="email_setting_tags_icon" src="./assets/Icons/Svgs/cancel.svg">صادق عیدی
          </span>

        </div>
      </div>


    </div>


  </div>





</div>
