<div class="mgh_proinfo">
  <div class="mgh_proinfo_content">
    <div class="row no-gutters">
      <div class="col-sm-2 mgh_proinfo_img">
        <img class="mgh_proinfo_image" src="./assets/fake_images/specialists1.jpg">
      </div>
      <div class="col-sm-10 mgh_proinfo_details">

        <div class="name_experts">
          <div class="mgh_proinfo_name">
            <h3 class="mgh_proinfo_name_h3" >صادق عیدی</h3>
          </div>
          <div class="mgh_proinfo_expert">
            <h4 class="mgh_proinfo_expert_h4" >طراح محصول در تریگر استدیو</h4>
          </div>
        </div>
        <div class="mgh_proinf0_option">
          <span class="mgh_proinfo_option_icon">
            <img  class="mgh_proinfo_option_image" style="height: 18px" src="./assets/Icons/Svgs/3dots.svg">
          </span>
           <span class="mgh_proinfo_option_icon">
            <img  class="mgh_proinfo_option_image" src="./assets/Icons/Svgs/Social networks/Instagram.svg">
          </span>
           <span class="mgh_proinfo_option_icon">
            <img  class="mgh_proinfo_option_image" src="./assets/Icons/Svgs/Social networks/Telgram.svg">
          </span>
           <span class="mgh_proinfo_option_icon">
            <img  class="mgh_proinfo_option_image" src="./assets/Icons/Svgs/Social networks/Linkdin.svg">
          </span>
           <span class="mgh_proinfo_option_icon">
            <img  class="mgh_proinfo_option_image" src="./assets/Icons/Svgs/Social networks/Twitter.svg">
          </span>

        </div>

        <div class="mgh_proinfo_desc">
          <h5 class="mgh_proinfo_desc_h5">
            این یک فرصت عالی برای انتقال تجربه و  بهبود سطح علمی کسب و کارها هست، اما به شرط اینکه افرادی رو که در کسب کار موفق و شناخته شده هستند دعوت کنند و تجربه واقعی و اجرایی + مباحث علمی و تئوری در کنار همدیگه ارائه بشه. من ساکن شیراز هستم. </h5>
        </div>

      </div>
      <div class="col-sm-12 mgh_proinfo_underdt">
        <!--<div class="mgh_proinfo_activity">-->
          <!--<span class="mgh_proinfo_activity_txt">-->
            <!--۲۳ دنبال کننده-->
          <!--</span>-->
          <!--<span class="mgh_proinfo_activity_txt">-->
            <!--۴۱ دنبال شونده-->
          <!--</span>-->

        <!--</div>-->
        <div class="mgh_proinfo_hash">
            <span class="mgh_proinfo_hash_txt">
              #جامعه_ساز
            </span>
          <span class="mgh_proinfo_hash_txt">
              #مینیمالیست
            </span>

        </div>
        <div class="mgh_proinfo_follow">
          <span class="mgh_proinfo_follow_txt">
           دنبال کردن
          </span>
          <span class="mgh_proinfo_follow_txt  active">
            پرسش سوال
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
