<div class="mgh_relatedblog">

  <div class="mgh_categorization_title">
    <h3 class="mgh_categorization_title_h3">مطالب مرتبط</h3>
  </div>
  <div class="mgh_relatedblog_content">
    <div class="mgh_relatedblog_img">
      <img class="mgh_relatedblog_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" alt="">
      <div class="mgh_relatedblog_image_text">
            <span class="mgh_related_image_text_date-cat">
              ۱۴ مهر ۱۳۹۷ • استارتاپ
            </span>
            <span class="mgh_relatedblog_image_text_que">
              بنظر شما بزرگترین مشکلات تیم سازی چیست؟
            </span>
      </div>
      <div class="image__mask_relatedblogp"></div>
    </div>

  </div>
  <div class="mgh_relatedblog_content">
    <div class="mgh_relatedblog_img">
      <img class="mgh_relatedblog_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" alt="">
      <div class="mgh_relatedblog_image_text">
            <span class="mgh_related_image_text_date-cat">
              ۱۴ مهر ۱۳۹۷ • استارتاپ
            </span>
            <span class="mgh_relatedblog_image_text_que">
              بنظر شما بزرگترین مشکلات تیم سازی چیست؟
            </span>
      </div>
      <div class="image__mask_relatedblogp"></div>
    </div>

  </div>
  <div class="mgh_relatedblog_content">
    <div class="mgh_relatedblog_img">
      <img class="mgh_relatedblog_image" src="./assets/fake_images/Entrepreneur-Blogs.jpg" alt="">
      <div class="mgh_relatedblog_image_text">
            <span class="mgh_related_image_text_date-cat">
              ۱۴ مهر ۱۳۹۷ • استارتاپ
            </span>
            <span class="mgh_relatedblog_image_text_que">
              بنظر شما بزرگترین مشکلات تیم سازی چیست؟
            </span>
      </div>
      <div class="image__mask_relatedblogp"></div>
    </div>

  </div>






</div>
