<div class="mgh_blogstatics">
  <div class="mgh_blogstatics_title">
    آمار مطلب
  </div>
  <div class="mgh_blogstatics_contents">
    <div class="blogstatics_content">
      <span class="blogstatics_text">
        بازدید
      </span>
      <span class="blogstatics_value">
        ۲۴
      </span>
    </div>
    <div class="blogstatics_content">
      <span class="blogstatics_text">
        پسندیدن
      </span>
      <span class="blogstatics_value">
        ۱۲
      </span>
    </div>

  </div>


</div>
