<div class="mgh_prfollowers">

  <div class="mgh_prfollowers_content">
    <div class="mgh_prfollowers_contents">
      <div class="mgh_prfollowers_rightside">
        <div class="prfollowers_image">
          <img src="./assets/fake_images/specialists1.jpg" class="prfollowers_img">
        </div>
        <div class="mgh_prfollowers_content_text">
          <div class="mgh_prfollowers_name">
            رضا کریمی
          </div>
          <div class="mgh_prfollowers_experts">
            توسعه دهنده Back-End
          </div>
        </div>
      </div>
      <div class="mgh_prfollowers_lefttside">
        <div class="prfollowers_following">
          ۱۳۴ دنبال شونده
        </div>
        <div class="prfollowers_followers">
          ۱۲ دنبال کننده
        </div>
        <div class="prfollowers_followbtn">
          <button type="button" class="prfollowers_btn">
            دنبال کنید
          </button>
        </div>
      </div>
    </div>
 <div class="mgh_prfollowers_contents">
      <div class="mgh_prfollowers_rightside">
        <div class="prfollowers_image">
          <img src="./assets/fake_images/specialists1.jpg" class="prfollowers_img">
        </div>
        <div class="mgh_prfollowers_content_text">
          <div class="mgh_prfollowers_name">
            رضا کریمی
          </div>
          <div class="mgh_prfollowers_experts">
            توسعه دهنده Back-End
          </div>
        </div>
      </div>
      <div class="mgh_prfollowers_lefttside">
        <div class="prfollowers_following">
          ۱۳۴ دنبال شونده
        </div>
        <div class="prfollowers_followers">
          ۱۲ دنبال کننده
        </div>
        <div class="prfollowers_followbtn">
          <button type="button" class="prfollowers_btn">
            دنبال کنید
          </button>
        </div>
      </div>
    </div>
 <div class="mgh_prfollowers_contents">
      <div class="mgh_prfollowers_rightside">
        <div class="prfollowers_image">
          <img src="./assets/fake_images/specialists1.jpg" class="prfollowers_img">
        </div>
        <div class="mgh_prfollowers_content_text">
          <div class="mgh_prfollowers_name">
            رضا کریمی
          </div>
          <div class="mgh_prfollowers_experts">
            توسعه دهنده Back-End
          </div>
        </div>
      </div>
      <div class="mgh_prfollowers_lefttside">
        <div class="prfollowers_following">
          ۱۳۴ دنبال شونده
        </div>
        <div class="prfollowers_followers">
          ۱۲ دنبال کننده
        </div>
        <div class="prfollowers_followbtn">
          <button type="button" class="prfollowers_btn">
            دنبال کنید
          </button>
        </div>
      </div>
    </div>
 <div class="mgh_prfollowers_contents">
      <div class="mgh_prfollowers_rightside">
        <div class="prfollowers_image">
          <img src="./assets/fake_images/specialists1.jpg" class="prfollowers_img">
        </div>
        <div class="mgh_prfollowers_content_text">
          <div class="mgh_prfollowers_name">
            رضا کریمی
          </div>
          <div class="mgh_prfollowers_experts">
            توسعه دهنده Back-End
          </div>
        </div>
      </div>
      <div class="mgh_prfollowers_lefttside">
        <div class="prfollowers_following">
          ۱۳۴ دنبال شونده
        </div>
        <div class="prfollowers_followers">
          ۱۲ دنبال کننده
        </div>
        <div class="prfollowers_followbtn">
          <button type="button" class="prfollowers_btn">
            دنبال کنید
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
