<div class="mmr-rq">

  <div class="mmr-rq-topic">
    ۳ پاسخ • استارتاپ
  </div>
  <div style="display: flex; justify-content: space-between; align-items: start">
    <div style="width: 69%;">
      <div class="mmr-rq-question">
        بنظر شما بزرگترین مشکلات تیم سازی چیست؟
      </div>
      <div class="mmr-rq-txt">
        مدتی هست که به دنبال دنبال برای یک استارتاپ در حوزه فینتک میگردم. اما در بسیاری از رویداد های استارتاپی شنیده ام که یکی از اساسی ترین مشکلات هر …
      </div>
    </div>



    <img src="./assets/fake_images/specialists1.jpg" class="mmr-rq-img">
  </div>

</div>
