<div class="mgh_passwordsetting">
  <div class="passwordsetting_title">
    ویرایش رمز عبور
  </div>
  <div class="passwordsetting_contents">
      <div class="passwordsetting_content">
        <label for="curentpass" class="passwordsetting_label">رمز عبور حال حاضر</label>
        <input id="curentpass" placeholder="صادق عیدی" type="text" class="profilesetting_nameex_input">
      </div>
      <div class="passwordsetting_content">
        <label class="passwordsetting_label">رمز عبور جدید</label>
        <input id="newpass" placeholder="صادق عیدی" type="text" class="profilesetting_nameex_input">
      </div>
       <div class="passwordsetting_content">
        <label class="passwordsetting_label">تکرار رمز عبور جدید</label>
        <input id="newpassreply" placeholder="صادق عیدی" type="text" class="profilesetting_nameex_input">
      </div>
    <div class="passwordsetting_savebtn">
      <button class="passwordsetting_savebutton" type="submit">ذخیره</button>
    </div>
  </div>
</div>
