<div class="mgh_sugestexperts">
  <h3 class="mgh_container_title">
    متخصصان پیشنهادی
  </h3>
  <div class="mgh_sugestexperts_contents">


    <div class="row no-gutters">
      <div class="col-sm-4">
        <div class="sugestexperts_content">
            <div class="mgh_sugestexperts_firstrow">
        <div class="sugestexperts_image">
          <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
        </div>
        <div class="mgh_specialist_detail">
          <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

            <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
          </div>

          <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

            <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
          </div>

        </div>
          </div>

            <div class="mgh_sugestexperts_secendrow">
              <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
                <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
              </div>


              <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
                <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
                <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

              </div>

              <div class="mgh_specialists_button">
                <button type="button" class="mgh_folow_button">
                  دنبال کنید
                </button>
              </div>

            </div>

      </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="sugestexperts_content">
          <div class="mgh_sugestexperts_firstrow">
            <div class="sugestexperts_image">
              <img class="sugestexperts_img" src="./assets/fake_images/specialists1.jpg">
            </div>
            <div class="mgh_specialist_detail">
              <div class="mgh_specialist_awnser">
                            <span class="mgh_specialist_awnser_int">
                            14
                            </span>

                <span class="mgh_specialist_awnser_str">
                              پاسخ
                            </span>
              </div>

              <div class="mgh_specialist_folowing">
                            <span class="mgh_specialist_folowing_int">
                            238
                            </span>

                <span class="mgh_specialist_folowing_str">
                              دنبال کننده
                            </span>
              </div>

            </div>
          </div>

          <div class="mgh_sugestexperts_secendrow">
            <div class="mgh_specialists_contents">
                       <span class="mgh_specialists_name">
                    مهدی علیپور
                    </span>
              <span class="mgh_specialists_job">
                      فعال استارتاپی و مربی ناب
                    </span>
            </div>


            <div class="mgh_specialists_icons">
                      <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815312-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815534-svg.svg">
                      </span>
              <span class="mgh_specialists_icons_span">
                        <img  class="mgh_specialists_icons_img" src="./assets/Icons/Svgs/flaticon1540815719-svg.svg">
                      </span>

            </div>

            <div class="mgh_specialists_button">
              <button type="button" class="mgh_folow_button">
                دنبال کنید
              </button>
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>
